<?php
$servername = "serverd.lab.example.com";
$username = "student";
$password = "student";
$dbname = "webDB";
$hostname = "{{ ansible_hostname }}";

// Create connection
$conn = new mysqli($servername, $username, $password, $dbname);
// Check connection
if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}

$sql = "SELECT state FROM status";
$result = $conn->query($sql);

if ($result->num_rows > 0) {
  // output data of each row
  while($row = $result->fetch_assoc()) {
    echo "This is $hostname and " . $row["state"]. ".\n";
  }
} else {
  echo "0 results";
}
$conn->close();
?>
