[galaxy]
server_list = published_repo, rh-certified_repo

# Published collections (for training.web)
[galaxy_server.published_repo]
url=https://hub.lab.example.com/api/galaxy/content/published/
token=a18cbf10c4d5e98ba2d070740dadb33f3713965a

# Certified collections (for ansible.posix)
[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=a18cbf10c4d5e98ba2d070740dadb33f3713965a
